/*******************************************************
 GENERAL
 ******************************************************/
p {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Open Sans', sans-serif;
}

/*******************************************************
 HEADER
 ******************************************************/
#header-div {
	background-image: url("../img/star-background.jpg");
	background-size: cover;	
	background-position: center;
	text-align: center;
	width: 100%;
}

#jnv-words {
	margin-top: 10%;
	width: 100%;
}

html, body, header, #header-div, #star-background {
	height: 100%;
}

#header-div h2 {
	color: white;
	font-size: 2.3em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	display: block;
	text-shadow: 1px 1px 5px #111;
}

#learn-button {
	text-decoration: none;
	color: white;
	font-weight: 400;
	border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 4px;
	padding: 10px;
	margin-top: 10px;
	display: inline-block;
	font-size: 2em;
}

/*******************************************************
 FIRST-CONTENT
*******************************************************/
#first-content {
	background-color: #111;
	margin: 0;
}

#first-content h1 {
	margin: 0;
	color: white;
	font-weight: 600;
	font-size: 3em;
	padding: 20px 0 0 10px;
	text-align: center;
}

#first-content a img {
	width: 90%;
	padding: 0px;
	margin: 5% 5% 0 5%;
	border-radius: 90px;
	border: solid 1px red;
	display: block;
}

#first-content h2 {
	color: #cc0000;
	font-size: 2em;
}


/*******************************************************
 ABOUT-CONTENT
*******************************************************/
#about-content {
	background-color: black;
	margin: 0;
}

#about-content h1 {
	color: white;
	font-weight: 600;
	font-size: 3em;
	margin: 0;
	padding-top: 150px;
	text-align: center;
}

#about-content h2 {
	color: #cc0000;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 40px;
	font-size: 2em;
	text-align: center;
}

#about-content img {
	border-radius: 50%;
	width: 50%;
	margin: 0 25%;
	padding-bottom: 20px;
}

#about-content p {
	color: white;
	font-weight: 300;
	font-size: 2em;
	padding-bottom: 100px;
	margin: 0;
}


/*******************************************************
 ABOUT-CONTENT
*******************************************************/
footer {
	background-color: black;
}

footer p {
	font-size: 2em;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}