/*******************************************************
 GENERAL
 ******************************************************/
p {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

/*******************************************************
 HEADER
 ******************************************************/
#header-div {
	background-image: url("../img/star-background.jpg");
	background-size: cover;	
	text-align: center;
	width: 100%;
}

#jnv-words {
	margin-top: 10%;
	width: 100%;
}

html, body, header, #header-div, #star-background {
	height: 100%;
}

#header-div h2 {
	color: white;
	font-size: 2.3em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	display: block;
}

#learn-button {
	text-decoration: none;
	color: white;
	font-weight: 400;
	border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 4px;
	padding: 10px;
	margin-top: 10px;
	display: inline-block;
	font-size: 2em;
}

/*******************************************************
 FIRST-CONTENT
*******************************************************/
#first-content {
	background-color: #111;
	margin: 0;
}

#first-content h1 {
	margin: 0;
	color: #cc0000;
	color: white;
	font-weight: 600;
	font-size: 2em;
	padding: 20px 0 0 10px;
}

#first-content p {
	color: #cc0000;
	font-size: 1.5em;
	padding: 10px;
	color: #bbb;
}
